{% extends "homebase.html" %} 
{% block sidebar %} {% include "sidebar2.html" %} {% endblock sidebar %}	
{% block body %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url "home" %}">Главная</a></li>
				<li class="active">Оформление заказа</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
    <div class="section">
        <div class="container mt-5 mb-5">
            <h1>Оформление заказа</h1>
            <p>тут будет форма для Оформление заказ</p>
        </div>
    </div>
{% endblock body %}