{% extends "homebase.html" %}


{% block sidebar %} {% include "sidebar2.html" %} {% endblock sidebar %}	
{% block body %}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">{{title_faq}}</h2>
				</div>
			</div>
			<!-- section title -->
 
            <!-- accor -->
            <div class="accordion" id="accordionExample"> 
                {% for faq in faqs %}
                <div class="card">
                    <div class="card-header" id="heading{{ faq.id }}">
                        <h2 class="mb-0">
                            <button style="font-size:20px; border: 1px solid #23527c;
    border-radius: 15px;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
                                {{ faq.title }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordionExample">
                        <div class="card-body">
                            {{ faq.description }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- end accor -->

		</div>
		<!-- /row --> 
	</div>
	<!-- /container -->
</div>
<!-- /section -->

{% endblock body %}