<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                 {% for slid in sliders %}
                <div class="banner banner-1">
                    <img src="{{slid.image.url}}" alt="">
                    <div class="banner-caption text-center">
                        <h1>{{slid.title}}</h1>
                        <h3 class="white-color font-weak">Up to 50% Discount</h3>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                {% endfor %}
                <!-- /banner --> 
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->