<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">
                <!-- banner -->
                 {% for slid in sliders %}
                <div class="banner banner-1">
                    <img src="{{slid.image.url}}" alt="">
                    <div class="banner-caption text-center">
                        <h1 style="color:#9ff">{{slid.title}}</h1>
                        <!-- Скидка -->
                        {% if slid.discount_percent %}
                        <h3 class="white-color font-weak"><b>скидка -{{ slid.discount_percent }}%</b></h3>
                        {% elif slid.discount_price %}
                        <h3 class="white-color font-weak"><b>скидка -{{ slid.discount_price }} сом</b></h3>
                        {% endif %}
                        <a href="{{ slid.get_absolute_url }}"class="primary-btn">Перейти</a>
                    </div>
                </div>
                {% endfor %}
                <!-- /banner --> 
            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->
<style>
    #home-slick .banner-1 {
        position: relative;
        height: 450px; /* Установили фиксированную высоту баннера */
        overflow: hidden; /* Скрыть всё, что выходит за границы */
        border-radius: 10px; /* Можно добавить закругления углов по желанию */
    }
    
    #home-slick .banner-1 img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Чтобы картинка красиво заполнила блок, без деформаций */
    }
    </style>